Page for the user, displays pets profiles. Pet profiles are links to the pet's page
<% if animal_shelter? %>
<h1>Welcome Admin</h1>


<a href="/pets/new"> Add pets </a>


<h3>Inspect Owners:</h3>
<form method="post" action="/owners/:id/edit">
<input id="hidden" type="hidden" name="_method" value="patch">
<% @owners.each do |owner| %>
    <% next if owner.id==1 && owner.username == "Animal Shelter"%>
    <input type="radio" name="owner" id="<%= owner.id %>" value="<%= owner.id %>"> <%= owner.fullname %> </input>  
<% end %>
<br>
<input type="submit" value="Submit">
</form>
<% elsif logged_in?%>
    You must be the admin to view this game
<% end#end of user %>
<a href="/owners/logout">Log Out</a>