new picTURES
<form action="upload" method="post" action="/pictures/new">
    <label for="title">Title:</label><input type="text" name="title">
    <label for="caption">Caption:</lable><input type="text" name="caption">
    <label for="description">Description</label><input type="text" name="description">
    <label for="file_photo">Photo:</label>
    <input type="file" name="file_photo" id="file_photo"><br>
    <input type="submit" value="Upload">
</form>